* {
  box-sizing: border-box;
}
body,
td,
th {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
  font-size: 11pt;
}
body,
html {
  background: #282828;
  color: white;
  padding: 0;
  margin: 0;
  height: 100%;
}
header {
  border-top: 1px solid #303030;
  border-bottom: 1px solid #000;
  background: #262626;
  background: linear-gradient(180deg, #262626 0%, #181818 100%);
  padding: 10px;
}
body {
  display: flex;
  flex-direction: column;
}
hsplit {
  display: flex;
  flex-direction: row;
  flex: 1;
}
vsplit {
  display: flex;
  flex-direction: column;
  flex: 1;
}
panel {
  flex: 1;
  padding: 10px;
  min-width: 400px;
}
panel section {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  position: relative;
  padding: 10px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 3px;
  box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1);
}
panel section > label {
  text-align: center;
  font-variant: small-caps;
  color: #ccc;
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  text-shadow: 1px 1px 0 black;
}
panel section .reset {
  position: absolute;
  top: 4px;
  right: 4px;
  background: none;
  border: 1px solid transparent;
  color: #ccc;
  font-weight: bold;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  line-height: 10px;
}
panel section .reset:hover {
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.04);
}
panel section .reset:active {
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
}
group {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 20%;
}
group label {
  display: block;
  font-weight: bold;
  grid-area: 1/1/2/3;
}
group input[type=range],
group button {
  grid-area: 2/1/3/2;
}
group span {
  grid-area: 2/2/3/3;
  align-content: center;
  text-align: right;
  font-size: 0.9em;
}
group input[type=text],
group div,
group form {
  grid-area: 2/1/3/3;
}
group button {
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  background: rgba(255, 255, 255, 0.04);
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1);
}
group button.active {
  background: #0b82d0;
  box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1), 0 0 8px 0 rgba(75, 178, 246, 0.4);
}
slider {
  display: block;
  height: 28px;
  position: relative;
}
slider track {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  height: 3px;
  top: 12.5px;
  left: 8px;
  right: 8px;
  border-radius: 1.5px;
}
slider track level {
  display: block;
  height: 100%;
  background: #0b82d0;
  border-top-left-radius: 1.5px;
  border-bottom-left-radius: 1.5px;
}
slider handle {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background: #555;
  border: 1px solid black;
  position: absolute;
  top: 6px;
}
slider handle:hover {
  background: #777;
}
form.button-group {
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
}
form.button-group input {
  display: none;
}
form.button-group label {
  flex: 1;
  font-weight: normal;
  font-size: 0.9em;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid black;
  padding: 5px 2px;
  text-align: center;
  text-shadow: 1px 1px 0 black;
  border-left-width: 0;
  border-radius: 3px;
  box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 0;
}
form.button-group label:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-left-width: 1px;
}
form.button-group label:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
form.button-group label:has(input[type="radio"]:checked) {
  background: rgba(255, 255, 255, 0.4);
}
form.button-group label[data-topic="tally"][data-option="1"]:has(input[type="radio"]:checked) {
  background: red;
}
form.button-group label[data-topic="tally"][data-option="2"]:has(input[type="radio"]:checked) {
  background: limegreen;
  color: black;
}
/*# sourceMappingURL=style.css.map */