@bg: #282828;
@bgpanel: #2d2d2d;

.bevel() {
  border-radius: 3px;
  box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1);
}

* {
  box-sizing: border-box;
}

body, td, th {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
  font-size: 11pt;
}

body, html {
  background: @bg;
  color: white;
  padding: 0;
  margin: 0;
  height: 100%;
}

header {
  border-top: 1px solid #303030;
  border-bottom: 1px solid #000;
  background: #262626;
  background: linear-gradient(180deg, #262626 0%, #181818 100%);
  padding: 10px;
}

body {
  display: flex;
  flex-direction: column;
}

hsplit {
  display: flex;
  flex-direction: row;
  flex: 1;
}

vsplit {
  display: flex;
  flex-direction: column;
  flex: 1;
}

panel {
  flex: 1;
  padding: 10px;
  min-width: 400px;

  section {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    position: relative;
    padding: 10px;
    background: rgba(255, 255, 255, 0.04);
    .bevel();

    & > label {
      text-align: center;
      font-variant: small-caps;
      color: #ccc;
      display: block;
      font-size: 0.8em;
      font-weight: bold;
      text-shadow: 1px 1px 0 black;
    }

    .reset {
      position: absolute;
      top: 4px;
      right: 4px;
      background: none;
      border: 1px solid transparent;
      color: #ccc;
      font-weight: bold;
      border-radius: 3px;
      width: 20px;
      height: 20px;
      line-height: 10px;

      &:hover {
        border: 1px solid black;
        .bevel();
        background: rgba(255, 255, 255, 0.04);
      }

      &:active {
        border: 1px solid black;
        .bevel();
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

group {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 20%;

  label {
    display: block;
    font-weight: bold;
    grid-area: ~"1/1/2/3";
  }

  input[type=range], button {
    grid-area: ~"2/1/3/2";
  }

  span {
    grid-area: ~"2/2/3/3";
  }

  input[type=text], div {
    grid-area: ~"2/1/3/3";
  }

  button {
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgba(255, 255, 255, 0.04);
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    .bevel();

    &.active {
      background: linear-gradient(#ffc144, #e7af40);
      color: black;
    }
  }
}