[Unit]
Description=Camera
After=mediamtx.service

[Service]
WorkingDirectory=/opt/picam
ExecStart=/usr/bin/python3 -m mncam

[Install]
WantedBy=multi-user.target
